* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* HEADER AREA 
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
} */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    display: flex;
    vertical-align: middle;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.header h1.logo-title {
    display: inline-block;
    font-size: 48px;
    padding: 0;
    margin: 0;
}

.header span.seo {
    color: #d9dcd6;
}

.header hgroup.header-logo {
    padding-bottom: 15px;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: inline-block;
    background-color: #2a607c;
    float: left;
}
nav.nav-bar {
    display: block;
    float: right;
}
.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* HERO AREA */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* MAIN AREA */
/* MAIN area wrapper */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* End o MAIN AREA wrapper */
/* MAIN area entries */
/* Box / wrapper styling for each ARTICLE entry */
.content article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
.content article figure img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}
.content article .main-article-title {
    margin-bottom: 20px;
    font-size: 36px;
}

/* END OF MAIN AREA */
/* ASIDE or SIDEBAR AREA for benefits*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* ASIDE area entries */
/* ASIDE entry box / wrapper styling for each Benefit entry */
aside article.benefit-item {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Setting ASIDE entry h3 tag style */
aside article h3.benefit-title {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* END OF ASIDE entries */
/*  END OF ASIDE AREA */

/* FOOTER AREA */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
